body
{
    background-color: #b2ccd4
}

.form-input
{
    padding: 5% 5% 5% 5%;
    margin: 0;
    position: absolute;
    left: 20%;
    top: 20%;
    right: 20%;
    height: 10%;
    border: 2px solid #1a1543;
}

.form
{
    display: inline-block;
}

.spacer
{
    display: inline-block;
    width: 15%;
}

.matrix-table
{
    margin: auto;
    width: 50%;
    height: 30%;
    margin-bottom: 5%;
}

.matrix-table-cell
{
    text-align: center;
    border: 2px solid #292585;
    padding: 5px;
    margin: 0;
}

.matrix-header
{
    text-align: center;
    border: 2px solid #852d2d;
}

.matrix-output
{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 55%;
    text-align: center;
    border: 1px solid #1a1543;
}